<header class="page-header inner">
  <div class="container animate-up">
    <a href="/" class="back">
      <img src="/images/back.svg" alt="" />
    </a>
    <h1><%= title %></h1>
  </div>
</header>

<!-- aqui eu coloco o header pq é uma parte do código que se repete nas minhas paginas 
  assim eu posso incluir esse código em todas as paginas que eu quiser reaproveitando 
  codigo e toda alteracao feita aqui ira se refletir em todas as paginas que inclui esse codigo -->